@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos online</h1>
    <p>"Leia mais, gaste menos, descubra um mundo de histórias com nossos livros emprestados!"</p>
<div>
<img src="/img/book4.png"/>
    </div>
</div>

